<!--suppress HtmlUnknownTarget -->
<div class="sidebar-wrapper">
    <script language= "JavaScript">
        function changeLang(language)
        {
            document.getElementById('en').style.display= (language=='en')? 'inline' : 'none';
            document.getElementById('es').style.display= (language=='es')? 'inline' : 'none';
        }
    </script>
    <div id="language">
        <ol>
            <b style="cursor: pointer;" onclick="changeLang('en');"><img src="https://github.com/azerothcore/wiki/blob/acbf3f05e90da007939ae32c8e9ec940f2e622ec/images/gb.png?raw=true" alt="English"></b>
            <b style="cursor: pointer;" onclick="changeLang('es');"><img src="https://github.com/azerothcore/wiki/blob/acbf3f05e90da007939ae32c8e9ec940f2e622ec/images/es.png?raw=true" alt="Spanish"></b>
        </ol>
    </div>
    <div id="en">
        <b>Install:</b>
        <ul>
            <li><a href="/wiki/home">Home</a></li>
            <li><a href="/wiki/requirements">Requirements</a></li>
            <li><a href="/wiki/installation">Installation Guide</a></li>
            <li><a href="/wiki/create-a-realm">Create a realm</a></li>
        </ul>
        <b>Contribute:</b>
        <ul>
            <li><a href="/wiki/contribute">How to contribute </a></li>
            <li><a href="/wiki/how-to-create-a-pr">How to create a PR</a></li>
            <li><a href="/wiki/how-to-create-a-db-pr">How to create an SQL PR via GitHub</a></li>
            <li><a href="/wiki/how-to-test-a-pr">How to test a PR</a></li>
            <li><a href="/wiki/how-to-test-db-only-changes">How to test DB-only changes</a></li>
            <li><a href="/wiki/how-to-document-code">How to document your code</a></li>
            <li><a href="/wiki/guide-to-triaging">Guide to bug triaging</a></li>
        </ul>
    </div>
    <div id="es"  style="display: none;">
        <b>Instalación:</b>
        <ul>
            <li><a href="/wiki/es/requirements">Inicio</a></li>
            <li><a href="/wiki/es/requirements">Requisitos</a></li>
            <li><a href="/wiki/es/installation">Guía de instalación</a></li>
            <li><a href="/wiki/es/create-a-realm">Crear un reino</a></li>
        </ul>
        <b>Contribuir:</b>
        <ul>
            <li><a href="/wiki/es/contribute">Cómo contribuir</a></li>
            <li><a href="/wiki/es/how-to-create-a-pr">Cómo crear un PR</a></li>
            <li><a href="/wiki/es/how-to-test-a-pr">Cómo probar un PR</a></li>
            <li><a href="/wiki/es/how-to-test-db-only-changes">Cómo probar los cambios solo en la BD</a></li>
            <li><a href="/wiki/es/how-to-document-code">Cómo documentar su código</a></li>
            <li><a href="/wiki/es/guide-to-triaging">Guía para la evaluación de errores</a></li> 
        </ul>
     </div>
</div>
